@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

.cronometro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    font-size: 18px;
    font-weight: bold;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px red;
    transition: 500ms;

}